html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

#generator {
    margin: 10px;
    padding: 7px;
    position: absolute;
    z-index: 2;
    background-color: #fdfdfd;
    width: 370px;
    border-radius: 3px;
    box-shadow: #0a0a0b 1px 1px 10px -4px;
}